# GETTING STARTED.
Today is the first meeting and we will be talking about kapaa.....

# GITHUB COMMITING CHANGES
1. git add --all # adds all changes made
2. git commit -m "put message here" # first lesson, print statements
3. git push

In [4]:
# RESOURCES
1. https://www.w3schools.com/python/default.asp

SyntaxError: invalid syntax (1490177323.py, line 2)

In [1]:
# printing text # String
print("Put text in quotation marks")
print("---------------", type("how are you"))

# printing numbers [integers(int), float(decimals)]
print(4534)
print(type(4534))
print(4534, "The type is ", type(4534))

print(5.2)
print(5.2, "good to me ", type(5.2))

print(type(5.2))
print (4.6)
print(2/6)
print(2/6, "its getting better ",type(2/6))

print(type(2/6))

# write a print statement to output "2/6"
print("2/6")
print(type("2/6"))

Put text in quotation marks
--------------- <class 'str'>
4534
<class 'int'>
4534 The type is  <class 'int'>
5.2
5.2 good to me  <class 'float'>
<class 'float'>
4.6
0.3333333333333333
0.3333333333333333 its getting better  <class 'float'>
<class 'float'>
2/6
<class 'str'>

# VARIABLES 16.03.2024

In [2]:
# bananas = 100
# costOfOne = 1000
# print("cost of bananas", type(100))
# print("The total cost of ", bananas, "bananas is", bananas*cost_of_one)
shop= "netto"
bananas, costOfOne = 4, 2000
# 4 bananas, 2000, netto
print("cost of bananas", type(100))
print("The total cost of ", bananas, "bananas is", bananas*costOfOne)
print("the total cost of ", bananas, "bananas is", bananas*costOfOne, "from", shop) 

#The total cost of 100 bananas is 100000
#print(banana, "the type is ", type(banana))



# VALID
# costOfOne
# cost_of_one
# costofone
#INVALID
#9bananas
#cost-of-one

cost of bananas <class 'int'>
The total cost of  4 bananas is 8000
the total cost of  4 bananas is 8000 from netto

Homework 2.

In [15]:
# You have a groccery list: apples, chicken, eggs
# apples = 4, each cost = 5
# chicken = 1, cost of chicken = 30
# crate of eggs = 4, each cost = 7
# write print statement to get the total expenditure.


apples, CostOfOne = 4, 5
chicken, costOfChicken =1, 3
crate_of_eggs , cost_of_eggs = 4, 7
print("The total expenditure of",apples, "apples is", apples*CostOfOne)
print("The total expenditure of",chicken, "chicken is", chicken*costOfChicken)
print("The total expenditure of",crate_of_eggs, "crate of eggs is", crate_of_eggs*cost_of_eggs)

total_cost_chicken = chicken*costOfChicken
total_cost_eggs = crate_of_eggs*cost_of_eggs
total_expenditure = apples*CostOfOne + total_cost_chicken + total_cost_eggs
print("The total expenditure of ",apples, "apples", chicken,"chicken and ", crate_of_eggs, "crete of eggs is", total_expenditure)

The total expenditure of 4 apples is 20
The total expenditure of 1 chicken is 3
The total expenditure of 4 crate of eggs is 28
The total expenditure of  4 apples 1 chicken and  4 crete of eggs is 51

# Session 3 23.03.2024

In [29]:
# DATATYPES [str, ints, floats, complex, list]
#comp1 = 2j+3
#comp2 = 4+5j
comp1 = complex(3)
comp2 = complex(4, 5)
print(comp1)

(3+0j)

In [1]:


e = 5
b = 'asfda'
c = 8.7
d = complex(6,6)
# a list can have int, str, floats, comlex, list

items_to_buy = ['eggs', 'apples', 'chicken', 'orange']
# cost of items, assign cost to items in items_to_buy
cost_of_items = [5, 6, 8]

# LIST OPERATIONS
print("First item in my list called items_to_buy is", items_to_buy[0])
print("the second item in my list called items_to_buy is", items_to_buy[1])
print("The items from the first to third on my list are", items_to_buy[0:3]) # 0,1,2,3
print("The items from the first to third on my list are", items_to_buy[0], items_to_buy[1], items_to_buy[3]) # 0,1,2,3

print("the  third and forth  item in my list are", items_to_buy[2:4])

First item in my list called items_to_buy is eggs
the second item in my list called items_to_buy is apples
The items from the first to third on my list are ['eggs', 'apples', 'chicken']
The items from the first to third on my list are eggs apples orange
the  third and forth  item in my list are ['chicken', 'orange']

#HomeWork 3

In [3]:
items_to_buy = ['eggs', 'apples', 'chicken', 'orange']
cost_of_each_item= [5, 6, 8, 3]
quantity_of_items = [10, 2, 1, 5]
cost_of_each_egg = cost_of_each_item[0]
quantity_of_eggs = quantity_of_items[0]

# 1. Create a list called "total_cost_of_each_item"
# 2. Print total total_expenditure of items

cost_of_egg = cost_of_eggs[5]
quantity_of_eggs = quantity_of_eggs[10]
cost_of_apples = cost_of_apples[6]
quantity_of_apples = quantity_of_apples[2]
cost_of_chicken = cost_of_chicken[8]
quantity_of_chicken = quantity_of_chicken[1]
cost_of_orange = cost_of_orange[3]
quantity_of_orange = quantity_of_orange[5]

total_cost_of_eggs = cost_of_eggs*quantity_of_eggs
total_cost_of_apples = cost_of_apples*quantity_of_apples
total_cost_of_chicken = cost_of_chicken*quantity_of_chicken
total_cost_of_orange = cost_of_orange*quantity_of_orange

total_expenditure_of_items= total_cost_of_eggs + total_cost_of_apples + total_cost_of_chicken +total_cost_of_orange 
print("total expenditure of items",total_expenditure_of_items)

NameError: name 'cost_of_eggs' is not defined